:root {
  --Dark-Blue: hsl(233, 26%, 24%);
  --Lime-Green: hsl(136, 65%, 51%);
  --Bright-Cyan: hsl(192, 70%, 51%);
  --Grayish--Blue: hsl(233, 8%, 62%);
  --Light-Grayish-Blue: hsl(220, 16%, 96%);
  --Very-Light-Gray: hsl(0, 0%, 98%);
  --White: hsl(0, 0%, 100%);
}

img[type="svg"]:hover {
  cursor: pointer;

  filter: invert(63%) sepia(71%) saturate(474%) hue-rotate(83deg)
    brightness(93%) contrast(92%);
}

@media screen and (max-width: 599px) {
  .mainContainer {
    width: 100vw;
  }

  .headerContainer {
    background-color: var(--White);
    padding: 10px;
    display: flex;
    justify-content: space-between;
    width: 100vw;
    height: 5vh;
    position: fixed;
    left: 0;
    top: 0;
  }

  .logoTopContainer {
    padding: 4vw;
  }
  .bankLogo {
    height: 2vh;
  }
  #navBar {
    display: none;
  }

  #hamberger {
    padding: 5vw;
    height: 1vh;
    width: 20px;
  }

  .topImageContainer {
    display: flex;
    justify-content: center;
    padding: 20px;
    width: 100vw;
    background-position: 1vw;
    background-image: url("./images/bg-intro-mobile.svg");
    background-repeat: no-repeat;
  }

  .topImage {
    height: 25vh;
  }

  .bankingIntro {
    margin-top: 1vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    margin-bottom: 5vh;
    padding: 1vw;
  }

  .bankingMainHeading {
    font-family: "Public Sans";
    line-height: 4vh;
    font-size: 25px;
    font-weight: 400;
    text-align: center;
    padding-bottom: 3vh;
    color: var(--Dark-Blue);
    width: 60vw;
    padding-right: 10vw;
  }

  .bankingDescription {
    font-family: "Public Sans";
    font-size: 15px;
    font-weight: 300;
    text-align: center;
    padding-bottom: 1vh;
    line-height: 2.5vh;
    color: var(--Grayish--Blue);
    width: 65vw;
    padding-right: 10vw;
  }
  .requestInviteBtnTopCont {
    background-image: linear-gradient(
      to right,
      var(--Lime-Green),
      var(--Bright-Cyan)
    );
    padding: 10px;
    border-radius: 50px;
    border-width: 0;
    width: 40vw;
    font-family: "Public Sans";
    font-size: 18px;
    font-weight: 300;
    color: var(--White);
    margin-top: 1vh;
  }

  .requestInviteBtn {
    background-image: linear-gradient(
      to right,
      var(--Lime-Green),
      var(--Bright-Cyan)
    );
    padding: 10px;
    border-radius: 50px;
    border-width: 0;
    width: 40vw;
    font-family: "Public Sans";
    font-size: 18px;
    font-weight: 300;
    color: var(--White);
    margin-top: 2vh;
    margin-left: 6vh;
  }

  .whyChooseContainer {
    background-color: var(--Light-Grayish-Blue);
    text-align: center;
    padding: 2vh;
    padding-left: 3.6vw;
    padding-right: 3.6vw;
    padding-top: 0px;
    width: 100vw;
  }
  .whyChoose {
    display: flex;
    padding-top: 5vh;
    flex-direction: column;
    align-items: center;
    text-align: center;
    line-height: 2.5vh;
  }

  .whyChooseHeading {
    font-family: "Public Sans";
    font-size: 30px;
    font-weight: 400;
    padding-bottom: 2vh;
    color: var(--Dark-Blue);
  }

  .whyChooseDescription {
    font-family: "Public Sans";
    font-size: 18px;
    line-height: 1;
    margin-bottom: 50px;
    color: var(--Grayish--Blue);
  }

  .whyChooseReasons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .reason {
    width: 75vw;
    padding-bottom: 2vh;
  }
  .reasonLogo {
    padding-bottom: 1vh;
  }
  .reasonHeading {
    font-family: "Public Sans";
    font-size: 18px;
    font-weight: 400;
    padding-bottom: 1vh;
    color: var(--Dark-Blue);
  }
  .reasonDescription {
    font-family: "Public Sans";
    font-size: 18px;
    line-height: 2.5vh;
    color: var(--Grayish--Blue);
  }

  .latestArticlesMainContainer {
    background-color: var(--Very-Light-Gray);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2vw;
    padding-left: 0;
    padding-top: 10vh;
  }

  .latestArticlesHeading {
    font-family: "Public Sans";
    color: var(--Dark-Blue);
    font-size: 30px;
    font-weight: 400;
    padding-bottom: 2vh;
    text-align: center;
    width: 75vw;
  }

  .latestArticleCollectiveConatiner {
    display: flex;
    flex-direction: column;
    width: 75vw;
  }

  .latestArticlesContainer {
    background-color: var(--White);
    margin-bottom: 3vh;
  }

  .articleImage {
    width: 75vw;
  }

  .articleCaption {
    padding-left: 3vw;
    font-family: "Public Sans";
    font-size: 15px;
    line-height: 1.5vh;
    color: var(--Grayish--Blue);
  }

  .articleContentContainer {
    width: 70vw;
    padding: 3vw;
  }
  .articleHeading {
    font-family: "Public Sans";
    font-size: 18px;
    font-weight: 400;
    padding-bottom: 1vh;
    color: var(--Dark-Blue);
  }

  .articleDescription {
    font-family: "Public Sans";
    font-size: 18px;
    line-height: 2.5vh;
    color: var(--Grayish--Blue);
  }

  .footerContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--Dark-Blue);
    width: 100vw;
    padding: 5vw;
    box-sizing: border-box;
  }

  .bankLogoFooter {
    height: 2vh;
    width: 40vw;
    padding: 2vw;
    padding-right: 1.5vw;
    margin-bottom: 2vw;
  }
  .logosContainer {
    display: flex;
    justify-content: space-around;
    margin-bottom: 2vw;
  }
  .footerLogo {
    margin-right: 5vw;
    height: 2vh;
  }
  #headerButton {
    display: none;
  }

  .footerListEle {
    list-style-type: none;
    line-height: 2vh;
    font-size: 18px;
    color: var(--White);
    text-decoration: none;
    font-family: "Public Sans";
  }
  .bottomList1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 13vw;
    padding-left: 0;
  }
  .bottomList2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 13vw;
    padding-left: 0;
  }
  .copyRightsDes {
    margin-top: 20px;
    font-family: "Public Sans";
    font-size: 18px;
    line-height: 1.5vh;
    color: var(--Grayish--Blue);
  }

  .footerContainer li:hover {
    cursor: pointer;
    background: linear-gradient(
      to right,
      var(--Lime-Green),
      var(--Bright-Cyan)
    );
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
  }

  button:hover {
    cursor: pointer;
  }

  .latestArticlesMainContainer h3:hover {
    cursor: pointer;
    background: linear-gradient(
      to right,
      var(--Lime-Green),
      var(--Bright-Cyan)
    );
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
  }
}

@media screen and (min-width: 600px) {
  .mainContainer {
    width: 100vw;
  }

  .headerContainer {
    background-color: var(--White);
    display: flex;
    justify-content: space-around;
    width: 100vw;
    position: fixed;
    left: 0;
    top: 0;
  }

  .logoTopContainer {
    padding-top: 10px;
  }
  #navBar {
    padding-top: 15px;
    display: flex;
    justify-content: space-between;
    width: 20vw;
  }

  #hamberger {
    display: none;
  }
  .navElement {
    font-family: "Public Sans";
    font-size: 15px;
    line-height: 1.5vh;
    color: var(--Grayish--Blue);
    text-decoration: none;
    margin-right: 30px;
  }

  .requestInviteBtnTop {
    background-image: linear-gradient(
      to right,
      var(--Lime-Green),
      var(--Bright-Cyan)
    );
    padding-top: 2px;
    border-radius: 50px;
    border-width: 0;
    width: 150px;
    height: 30px;
    font-family: "Public Sans";
    font-size: 12px;
    font-weight: 300;
    color: var(--White);
    margin-top: 5px;
    margin-bottom: 5px;
  }

  .requestInviteBtnTopCont {
    background-image: linear-gradient(
      to right,
      var(--Lime-Green),
      var(--Bright-Cyan)
    );
    padding-top: 2px;
    border-radius: 50px;
    border-width: 0;
    width: 150px;
    height: 30px;
    font-family: "Public Sans";
    font-size: 12px;
    font-weight: 300;
    color: var(--White);
    margin-top: 10px;
  }

  .topContainer {
    display: flex;
    flex-direction: row-reverse;
    width: 100vw;
    box-sizing: border-box;
  }

  .topImageContainer {
    display: flex;
    justify-content: flex-end;
    background-image: url("./images/bg-intro-desktop.svg");
    background-repeat: no-repeat;
    background-position: 1vw -15vw;
    width: 100%;
    box-sizing: border-box;
  }

  .topImage {
    width: 100%;
  }

  .bankingIntro {
    margin-top: 1vh;
    display: flex;
    flex-direction: column;
    margin-bottom: 5vh;
    padding: 1vw;
    margin-top: 180px;
    margin-left: 180px;
    width: 500px;
  }

  .bankingMainHeading {
    font-family: "Public Sans";
    line-height: 35px;
    font-size: 35px;
    font-weight: 400;
    width: 250px;
    padding-bottom: 1vh;
    color: var(--Dark-Blue);
  }

  .bankingDescription {
    font-family: "Public Sans";
    font-size: 15px;
    font-weight: 300;
    padding-bottom: 1vh;
    line-height: 25px;
    color: var(--Grayish--Blue);
    width: 80%;
  }

  .whyChooseContainer {
    background-color: var(--Light-Grayish-Blue);
    padding: 98px;
    padding-top: 0px;
    width: 100vw;
  }
  .whyChoose {
    padding-top: 5vh;
    padding-bottom: 5vh;
  }

  .whyChooseHeading {
    font-family: "Public Sans";
    font-size: 30px;
    font-weight: 400;
    padding-bottom: 1vh;
    color: var(--Dark-Blue);
  }

  .whyChooseDescription {
    font-family: "Public Sans";
    font-size: 15px;
    line-height: 15px;
    width: 500px;
    color: var(--Grayish--Blue);
  }

  .whyChooseReasons {
    display: flex;
  }
  .reason {
    width: 47vw;
    padding-bottom: 2vh;
    margin-right: 20px;
  }
  .reasonLogo {
    padding-bottom: 20px;
  }
  .reasonHeading {
    font-family: "Public Sans";
    font-size: 18px;
    font-weight: 400;
    padding-bottom: 1vh;
    color: var(--Dark-Blue);
  }
  .reasonDescription {
    font-family: "Public Sans";
    font-size: 15px;
    line-height: 15px;
    color: var(--Grayish--Blue);
  }
  .latestArticlesContainer {
    background-color: var(--White);
    width: 200px;
    margin-bottom: 3vh;
  }

  .latestArticlesMainContainer {
    background-color: var(--Very-Light-Gray);
    padding: 98px;
    width: 100vw;
    padding-top: 10vh;
  }

  .latestArticlesHeading {
    font-family: "Public Sans";
    color: var(--Dark-Blue);
    font-size: 30px;
    font-weight: 400;
    padding-bottom: 30px;
  }

  .latestArticleCollectiveConatiner {
    background-color: var(--Very-Light-Gray);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 0;
  }

  .articleImage {
    width: 200px;
    height: 120px;
  }

  .articleCaption {
    margin-top: 10px;
    font-family: "Public Sans";
    font-size: 12px;
    line-height: 1.5vh;
    padding-left: 10px;
    color: var(--Grayish--Blue);
  }

  .articleContentContainer {
    width: 180px;
    padding: 10px;
  }
  .articleHeading {
    font-family: "Public Sans";
    font-size: 18px;
    font-weight: 400;
    padding-bottom: 1vh;
    color: var(--Dark-Blue);
  }

  .articleDescription {
    font-family: "Public Sans";
    font-size: 15px;
    line-height: 20px;
    color: var(--Grayish--Blue);
  }
  .footerContainer {
    display: flex;
    justify-content: space-between;
    background-color: var(--Dark-Blue);
    width: 100vw;
    padding-left: 98px;
    padding-right: 98px;
  }

  .bankLogoFooter {
    height: 15px;
    padding: 20px;
    margin-bottom: 20px;
  }
  .logosContainer {
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 30px;
  }

  .footerLogo {
    margin-right: 20px;
  }

  .footerListEle {
    display: flex;
    list-style-type: none;
    font-size: 12px;
    color: var(--White);
    text-decoration: none;
    font-family: "Public Sans";
  }
  .bottomList1 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-right: 40px;
  }
  .bottomList2 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-right: 40px;
  }
  .requestInviteBtn {
    background-image: linear-gradient(
      to right,
      var(--Lime-Green),
      var(--Bright-Cyan)
    );
    padding-top: 2px;
    border-radius: 50px;
    border-width: 0;
    width: 150px;
    height: 30px;
    font-family: "Public Sans";
    font-size: 12px;
    font-weight: 300;
    color: var(--White);
    margin-top: 5px;
    margin-bottom: 5px;
  }
  .buttonAndCopyrightContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
  .copyRightsDes {
    font-family: "Public Sans";
    font-size: 15px;
    line-height: 1.5vh;
    color: var(--Grayish--Blue);
  }

  .footerContainer li:hover {
    cursor: pointer;
    background: linear-gradient(
      to right,
      var(--Lime-Green),
      var(--Bright-Cyan)
    );
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
  }
  button:hover {
    cursor: pointer;
  }

  #navBar a:hover {
    cursor: pointer;
    border-bottom: 5px solid transparent;
    border-image: linear-gradient(
      to right,
      var(--Lime-Green),
      var(--Bright-Cyan)
    );
    border-image-slice: 1;
  }

  .latestArticlesMainContainer h3:hover {
    cursor: pointer;
    background: linear-gradient(
      to right,
      var(--Lime-Green),
      var(--Bright-Cyan)
    );
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
  }
}
